<!DOCTYPE html>
<html>
  <head>
    <title>Realtime quizzer with Socket.io</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <header><span>realtime quizzer</span></header>
    <br><br><br><br>
    <textarea id="input" rows="4"></textarea>
    <button id="button" type="button">Save</button>

    <footer><ul id="players"></ul></footer>
  </body>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/javascripts/app.js"></script>
</html>
